<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Merlot Hotel</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/template/Admin-master/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/template/Admin-master/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/template/Admin-master/css/style.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 75px;
            background-color: rgba(0,0,0,0.8);
            z-index: 1000;
        }

        img {
            width: 220px;
            height: auto;
        }
        .sidebar-fixed {
    /* Sidebar'ın sabit bir şekilde kalması gerektiğini belirtiyoruz */
    position: fixed;
    height: 100%; /* Yükseklik ekran yüksekliği kadar olacak */
    overflow-y: auto; /* Eğer sidebar ekran yüksekliğinden uzunsa kaydırma çubuğu ekler */
}

/* Medya sorgusu ile 1200px'den daha küçük ekranlar için stil ayarları */



/* 1200px'den büyük ekranlar için stil ayarları (Varsayılan) */


    </style>
</head>
<body class="grey lighten-3">
    <div class="col-2">
    <header>
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a class="">
                <img src="~/template/images/the_merlot_logo.png" class="" alt="" />
            </a>
            <div class="list-group list-group-flush">
                    <a href="/Home/Index" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa-solid fa-house" style="color: maroon; width:20px; margin-right:10px;"></i>Anket Sonuçları
                </a>
                    <a href="/Question/Questions" class="list-group-item list-group-item-action waves-effect">
                        <i class="fa-solid fa-question" style="color: maroon; width:20px; margin-right:10px;"></i>Sorular
                </a>
                    <a href="/Answer/Answers" class="list-group-item list-group-item-action waves-effect">
                        <i class="fa-solid fa-reply" style="color: maroon; width:20px; margin-right:10px;"></i>Cevaplar
                    </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                        <i class="fa-solid fa-circle-info" style="color: maroon; width:20px; margin-right:10px;"></i>  Örnek Anket
                </a>
            </div>
        </div>
        <!-- Sidebar -->
    </header>
    </div>
    <div class="col-xlg-10 col-lg-12 col-md-12 col-sm-12">
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            <!--Grid row-->

                @RenderBody()

            <!--Grid row-->
        </div>
    </main>
    </div>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer text-center" style="background-color: rgba(0,0,0,0.8);">
        <div class="pt-3">
            <!-- Social icons -->
            <div class="pb-2">
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-f mr-3"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter mr-3"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-youtube mr-3"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-google-plus mr-3"></i>
                </a>
                <a href="#p" target="_blank">
                    <i class="fab fa-pinterest mr-3"></i>
                </a>
            </div>
            <!-- Social icons -->
            <!--Copyright-->
            <div class="footer-copyright px-3">
                © 2023 Copyright:
                <a href="#" target="_blank"> Merlot Hotel </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
</body>
</html>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/template/Admin-master/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/template/Admin-master/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/template/Admin-master/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/template/Admin-master/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript"></script>
