@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Tablo hücrelerini sınırla ve taşan içeriği görüntüle */
    .table td {
        max-width: 750px; /* Maksimum genişlik ayarı */
        overflow: auto; /* Taşan içeriği görüntüle */
        text-align: left; /* Metni yatayda ortala */
        vertical-align: middle; /* Metni dikeyde ortala */
    }

    .table {
        margin: none;
    }

</style>

<div class="row">
    <div class="card col-sm-12">

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Soru</th>
                        <th>Puan</th>
                        <th>Oda Numarası</th>
                        <th>Mail Adresi</th>
                        <th>Cevaplama Tarihi</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>1</td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </td>
                        <td>Oluşturma Tarihi</td>
                        <td>Değiştirme Tarihi</td>
                        <td>Silme Tarihi</td>
                        <th><div class="btn btn-md btn-outline-success">Güncelle</div></th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </td>
                        <td>Oluşturma Tarihi</td>
                        <td>Değiştirme Tarihi</td>
                        <td>Silme Tarihi</td>
                        <th><div class="btn btn-md btn-outline-success">Güncelle</div></th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </td>
                        <td>Oluşturma Tarihi</td>
                        <td>Değiştirme Tarihi</td>
                        <td>Silme Tarihi</td>
                        <th><div class="btn btn-md btn-outline-success">Güncelle</div></th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </td>
                        <td>Oluşturma Tarihi</td>
                        <td>Değiştirme Tarihi</td>
                        <td>Silme Tarihi</td>
                        <th><div class="btn btn-md btn-outline-success">Güncelle</div></th>
                    </tr>


                    <!-- Diğer satırları da benzer şekilde düzenleyin -->
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/Survey/AddQuestion" class="btn btn-primary w-100">Yeni Soru Ekle</a>
        </div>
    </div>
</div>

