
@{
    ViewData["Title"] = "UpdateAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UpdateAnswerDto
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="UpdateAnswer" asp-controller="Answer" method="post">
                <input type="hidden" asp-for="AnswerId" />
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cevap Güncelle</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label" asp-for="@Model.Response">Cevap</label>
                            <input asp-for="@Model.Response" class="form-control"/>
                        </div>
                            <div class="mb-4">
                            <label class="form-label" asp-for="@Model.Status"></label>
                            <input asp-for="@Model.Status" class="form-control" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-lg btn-outline-success float-start">Güncelle</button>
                        <a asp-controller="Answer" asp-action="Answers" class="btn btn-lg btn-outline-info float-end">Geri Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
